<section class="page-header">
  <!-- If there is a logo for the tournament set in data/tournament.toml, use that. -->
  {{ if isset $.Site.Data.tournament "logo" }}
    <div class="project-logo-wrapper">
     <img class="project-logo" src="{{ .Site.BaseURL }}/{{ $.Site.Data.tournament.logo.src }}" alt="tournament logo"></img>
    </div>
  <!-- Otherwise, display the tournament name and tagline in the header. -->
  {{ else }}
    {{ with $.Site.Data.tournament.tagline }}
    <h2 class="project-tagline">
      {{ $.Site.Data.tournament.tagline | markdownify }}
    </h2>
    {{ end }}

    <h1 class="project-name">
      <a href="{{ .Site.BaseURL }}">
      {{ $.Site.Data.tournament.name | default "add tournament name to data/tournament.toml" | markdownify }}
      </a>  
    </h1>
  {{ end }}

  <ul class="competition-details">
    <li><i class="feather" data-feather="calendar"></i>{{ $.Site.Data.tournament.date | default "date" | markdownify}}
    <li><i class="feather" data-feather="map-pin"></i>{{ $.Site.Data.tournament.location | default "location" | markdownify}}
  </ul>
  <nav class="main-nav">
    {{ $current := . }}
    {{ range .Site.Menus.nav }}
      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
      {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
      {{ if .HasChildren }}
      <div class="btn div-btn-wrapper">
        <a href="{{ .URL }}"><i class="feather" data-feather="{{ .Pre }}"></i>{{ .Name }}:</a>
        {{ range .Children }}
          <a href="{{ .URL }}" class="sub-menu division-btn btn fade">{{ .Name }}</a>
        {{ end }}
      </div>
      {{ else }}
      <div class="btn fade">
        <a href="{{ .URL }}"><i class="feather" data-feather="{{ .Pre }}"></i>{{ .Name }}</a>
      </div>
      {{ end }}
    {{ end }}
  </nav>
</section>
